# Bower components
src/components/

# Webstorm folder
.idea/

# node package directory
node_modules/

# Tranpiled JS files
src/compiled_js/

# Javascript Generated Documentation
documentation/

# Sublime Packahe for Gulp
.sublime-gulp.cache
